---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';

const cola = {
  "@context": "https://schema.org/", 
  "@type": "Product", 
  "name": "Cola",
  "image": "https://images.unsplash.com/photo-1567103472667-6898f3a79cf2?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
  "description": "Coca-Cola: A timeless classic, loved worldwide. Dive into the story of this iconic beverage, from its humble beginnings to its global presence today. Explore its secret recipe, cultural significance, and future journey.",
  "brand": {
    "@type": "Brand",
    "name": "Coca Cola"
  }
}

---
<MainLayout title="Coca-cola"
description="Udforsk historien om Coca-Cola: Fra opstart til global ikon. Opdag den hemmelige opskrift, dens popkulturelle arv og dens fremtid"
ogtitel="Coca-cola: en helt ny verden"
ogdespection="Coca-Cola: En ikonisk drik med en fascinerende historie. Fra starten til i dag, få et indblik i dens hemmelige opskrift, popkulturelle betydning og fremtidige rejse"
>
	
<section class="">
	<h1 class="md:text-center text-3xl font-bold py-10">Historien om Coca-Cola: En Ikonisk Drik Med Global Indflydelse</h1>

<div class="grid grid-cols-1 gap-10 mx-96 mb-10">

	<div class="">
		<h2 class="font-bold text-[18px] pb-1">1) Introduktion:</h2>
		<p class="leading-7" >Coca-Cola er ikke bare en læskedrik; det er et globalt kulturelt fænomen. Lad os dykke ned i historien bag dette ikoniske brand.</p>
	</div>

	<div>
		<h2 class="font-bold text-[18px] pb-1">2) Opfindelsen af Coca-Cola</h2>
		<p class="leading-7">I 1886 skabte apotekeren John Pemberton i Atlanta, Georgia, en forfriskende drik baseret på en blanding af kolanødder og kokablade. Denne drik blev kendt som Coca-Cola.</p>
	</div>

	<div>
		<h2 class="font-bold text-[18px] pb-1">3) Den første flaske Coca-Cola</h2>
		<p class="leading-7">Den første flaske Coca-Cola blev solgt for blot 5 cent på Jacobs' Apotek i Atlanta. Den blev solgt som en "nervetonic," og dens popularitet voksede hurtigt.</p>
	</div>

	<div>
		<h2 class="font-bold text-[18px] pb-1">4) Udbredelsen af Coca-Cola</h2>
		<p class="leading-7">I 1899 grundlagde Asa Candler The Coca-Cola Company og begyndte at sprede drikken ud over USA og senere globalt.</p>
	</div>

	<div>
		<h2 class="font-bold text-[18px] pb-1">5) Coca-Cola som et symbol på amerikansk kultur</h2>
		<p class="leading-7">I løbet af det 20. århundrede blev Coca-Cola et symbol på amerikansk kultur og blev synonymt med glæde, fællesskab og forfriskning. Som den berømte kunstner Andy Warhol engang sagde: "Jeg tror, at noget påvirker børn meget, men Coca-Cola påvirker dem. Jeg mener, Coca-Cola er en meget stærk ting." Dette citat illustrerer den dybe indflydelse, som Coca-Cola har haft på populærkulturen og samfundet som helhed.</p>
	</div>

	<div>
		<h2 class="font-bold text-[18px] pb-1">6) Coca-Cola i populærkulturen</h2>
		<p class="leading-7">Coca-Cola har haft en enorm indflydelse på populærkulturen og har optrådt i utallige film, sange og reklamer over hele verden.</p>
	</div>


	<div>
		<h2 class="font-bold text-[18px] pb-1">7) Coca-Cola i dag</h2>
		<p>I dag er Coca-Cola tilgængelig i mere end 200 lande og er en af verdens mest genkendelige brands. Historien om Coca-Cola er en historie om innovation, globalisering og kulturel påvirkning, der fortsætter med at forme vores verden i dag.</p>
	</div>
</div>

</section>




</MainLayout>